*{
	font: monospace;
}

h1{
	text-align: center;
}
section{
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.row{
	width: 100%;
}

/*Tablet view*/
@media(min-width: 768px)and(max-width: 991){

}
/*mobile*/
@media(max-width: 767px){

}
/*desktop*/
@media(min-width: 992px){
	
}
